html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

.viewport{
    width: 100vh;
    height: 100vh;
}

.hotspotLabel{
    background-color: rgba(255, 255,255 , 0.7);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    opacity: 0;
    transform: translate3D (-50%, -110%, 0);
    transition: opacity .3s, transform .3s;
    font-weight: bold;
    font-style: italic;
    border-radius: 20px 20px 20px 0px;
}

.is-active {
    opacity: 1;
    transform: translate3D (-50%, calc(-100% - 40px), 0);
}