html, body{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
}

a{
    text-decoration: inherit;
    color: inherit;
}

.viewport{
    width: 100vh;
    height: 100vh;
}

#facade{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/facade/0.png);
    background-size: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.footer{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 15%;
    bottom: 0px;
    background-color: black;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.60);
}

.horizon{
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 30%;
    bottom: 0px;
    background-color: rgb(0, 20, 30);
    box-shadow: 0px 0px 30px 25px rgba(0,20,30,1);
}
.shortcuts{
    z-index: 6;
    position: fixed;
    width: fit-content;
    text-align: center;
    padding: 15px;
    border-width: 2px;
    border-color: #FFF;
    border-style: solid;
    border-radius: 0px 20px 0px 20px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 4px rgba(255,255,255,0.15);
    transition: .5s;
}

@media screen and (max-width: 850px) {
    #facade{
        position: relative;
        width: 100vw;
        height: 100vh;
        background-image: url(/assets/facade/0.png);
        background-size: 85vh;
        background-position: center;
        background-repeat: no-repeat;
    }
    .footer{
        z-index: 2;
        position: fixed;
        width: 100%;
        height: 10%;
        bottom: 0px;
        background-color: black;
        box-shadow: 0px 0px 30px 25px rgba(0,0,0,1);
    }
    #fullscreenIcon{
        z-index: 10;
        top: 100px;
        position: fixed;
        width: 60px;
        height: 30px;
        cursor: pointer;
    }
}

@media screen and (min-width: 850px) {
    #fullscreenIcon{
        z-index: 10;
        position: fixed;
        width: 60px;
        height: 30px;
        cursor: pointer;
    }
}

.fac-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/assets/background.jpg);
    background-size: 100%;
}

.button{
    margin: 10px 10px;
    opacity: .7;
    transition: .5s;
}
.button:hover{
    opacity: 1;
}

.shortcuts-container{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.controls{
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 50px;
    z-index: 20;
    left: 50%;
    margin-left: -175px;
    width: 350px;
}

.button-before{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-image: url(/assets/next.png);
    transform: scaleX(-1);
    background-size: 50px 50px;
    cursor: pointer;
    opacity: .7;
    transition: .3s;
}
.button-before:hover{
    opacity: 1;
}

.button-next{
    width: 50px;
    height: 50px;
    margin: 10px;;
    background-image: url(/assets/next.png);
    background-size: 50px 50px;
    cursor: pointer;
    opacity: .7;
    transition: .3s;
}
.button-next:hover{
    opacity: 1;
}

#load{
    overflow: hidden;
    position: fixed;
    width: 0px;
    height: 0px;
}

.hotspotLabel{
    background-color: rgba(255, 255,255 , 0.7);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    opacity: 0;
    transform: translate3D (-50%, -110%, 0);
    transition: opacity .3s, transform .3s;
    font-weight: bold;
    font-style: italic;
    border-radius: 20px 20px 20px 0px;
}

.is-active {
    opacity: 1;
    transform: translate3D (-50%, calc(-100% - 40px), 0);
}

.menu{
    z-index: 10;
    position: fixed;
    top: 20px;
    left: 20px;
    position: fixed;
}

.debug{
    padding: 10px;
    border-radius: 10px 10px 10px 0px;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 90px;
    left: 20px;
    font-size: large;
    background-color: black;
    color: green;
}

.menu-debug{
    position: fixed;
    top: 60px;
    left: 20px;
    position: fixed;
}

.slidecontainer {
    z-index: 4;
    position: fixed;
    width: 100%;
    bottom: 100px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #5c5c5c;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: #00ffaa;
    cursor: pointer;
    border-radius: 100%;
  }
  
  .slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: #00ffaa;
    cursor: pointer;
  }